---
title: Test Page
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.min.js"></script>
  </head>
  <body>
    My name is <%= title %>
    <div id="app">
      <p>{{ message }}</p>
      <ul>
        <li v-for="item in items">{{ item.name }}: {{ item.value }}</li>
      </ul>
    </div>
  </body>
  <script src="/assets/vue<%= page.filePathStem %>.js"></script>
</html>
